@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Red Hat Display", sans-serif;
}

textarea {
	outline: none;
	overflow: auto;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none; /*remove the resize handle on the bottom right*/
}

button:hover,
button:focus {
	outline: none;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active {
	outline: none;
	border: none;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.carousel {
	animation: carouselAnimation 15s linear infinite;
}

@keyframes carouselAnimation {
	0% {
		left: -1100px;
	}
	100% {
		left: 1200px;
	}
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 2px solid white;
	background-color: darkgrey;
}
